<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login Page</title>
</head>
<body>
<h1>Please log in! (After login, the JSESSIONID in your browser's cookie will contain your login secret.)</h1>
<form action="/loginWithSecret" method="POST">
  <label>Username</label>
  <input type="text" name="username">

  <label>Password</label>
  <input type="password" name="password">

  <input type="submit" value="Log In">
</form>

</body>
</html>