<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="/fragments/nav-header :: h3"></div>
<div th:replace="/fragments/nav-header :: site-user"></div>
<h1>Welcome to my application, the best home for users on the internet!</h1>

<a th:if="!${username}" href="/login">Log In</a>
<br>
<a th:if="!${username}" href="/signup">Or Sign Up</a>
<a th:if="${username}" href="/logout">Log Out</a>
</body>
</html>